.wr-main{
    .container{
        max-width: 1278px;
        margin: 0 auto;

        @media screen and (max-width: 1316px) {
            width: 96%;
        }


    }

    .nav-container{
        display: flex;
    }

    .main-container{
        display: flex;
        column-gap: 35px;
        margin-bottom: 100px;

        @media screen and (max-width: 1044px){
            flex-direction: column;
        }
    }

    .card-block{
        width: 100%;
    }

    .card-holder{
        display: grid;
        justify-content: space-between;
        grid-template-rows: auto 1fr;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 42px;
        column-gap: 30px;

        @media screen and (max-width: 1336px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 1044px) {
            grid-template-columns: repeat(auto-fill, 145px);
            column-gap: 17px;
        }

        @media screen and (max-width: 657px) {
            justify-content: center;
        }

        .selected-items{
            color: rgb(0, 0, 0);
            font-size: clamp(28px, 2vw, 40px);
            font-weight: 700;
            line-height: 120%;
            grid-column: 1 / -1;
        }
    }
}